<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_prepare_save">
        <observer name="adminhtml_assign_kana_to_customer" instance="MagentoJapan\Kana\Observer\Adminhtml\CopyKanaToCustomer" />
    </event>
</config>
