<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CommunityEngineering\ConfigurablePdfFont\Model\FontProvider">
        <arguments>
            <argument name="fonts" xsi:type="array">
                <item name="source_han_sans_japanese" xsi:type="object">SourceHanSansJapaneseFont</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SourceHanSansJapaneseFont" type="CommunityEngineering\ConfigurablePdfFont\Model\Font">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="name" xsi:type="string" translatable="true">Source Han Sans Japanese</item>
                <item name="regular" xsi:type="object">SourceHanSansJapaneseRegular</item>
                <item name="bold" xsi:type="object">SourceHanSansJapaneseBold</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SourceHanSansJapaneseRegular" type="CommunityEngineering\ConfigurablePdfFont\Model\FontFile">
        <arguments>
            <argument name="path" xsi:type="string">CommunityEngineering_FontSourceHanSansJapanese::SourceHanSansJP-Regular.ttf</argument>
        </arguments>
    </virtualType>
    <virtualType name="SourceHanSansJapaneseBold" type="CommunityEngineering\ConfigurablePdfFont\Model\FontFile">
        <arguments>
            <argument name="path" xsi:type="string">CommunityEngineering_FontSourceHanSansJapanese::SourceHanSansJP-Bold.ttf</argument>
        </arguments>
    </virtualType>
</config>
