<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="CommunityEngineering\ConfigurablePdfFont\Model\Filesystem" type="Magento\Framework\Filesystem">
        <arguments>
            <argument name="readFactory" xsi:type="object">\CommunityEngineering\ConfigurablePdfFont\Model\Filesystem\Directory\ReadFactory</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Model\Order\Pdf\AbstractPdf">
        <arguments>
            <argument name="filesystem" xsi:type="object">CommunityEngineering\ConfigurablePdfFont\Model\Filesystem</argument>
        </arguments>
    </type>
    
    <type name="CommunityEngineering\ConfigurablePdfFont\Model\FontProvider">
        <arguments>
            <argument name="fonts" xsi:type="array">
                <item name="default" xsi:type="object">DefaultFont</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="DefaultFont" type="CommunityEngineering\ConfigurablePdfFont\Model\Font">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="name" xsi:type="string" translatable="true">Default (Free Serif Fonts)</item>
                <item name="regular" xsi:type="object">FreeSerifRegular</item>
                <item name="bold" xsi:type="object">FreeSerifBold</item>
                <item name="italic" xsi:type="object">FreeSerifItalic</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FreeSerifRegular" type="CommunityEngineering\ConfigurablePdfFont\Model\FontFile">
        <arguments>
            <argument name="path" xsi:type="string">lib/internal/GnuFreeFont/FreeSerif.ttf</argument>
        </arguments>
    </virtualType>
    <virtualType name="FreeSerifBold" type="CommunityEngineering\ConfigurablePdfFont\Model\FontFile">
        <arguments>
            <argument name="path" xsi:type="string">lib/internal/GnuFreeFont/FreeSerifBold.ttf</argument>
        </arguments>
    </virtualType>
    <virtualType name="FreeSerifItalic" type="CommunityEngineering\ConfigurablePdfFont\Model\FontFile">
        <arguments>
            <argument name="path" xsi:type="string">lib/internal/GnuFreeFont/FreeSerifItalic.ttf</argument>
        </arguments>
    </virtualType>
</config>
