<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency">
            <group id="options">
                <field id="yen_formatting" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Japanese Yen Formatting</label>
                    <source_model>CommunityEngineering\JapaneseYenFormatting\Model\Config\Source\YenFormatting</source_model>
                    <config_path>currency/options/yen_formatting</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
