<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\DataObject\Copy" type="CommunityEngineering\JapaneseName\Model\DataObject\Copy"/>
    <type name="Magento\Framework\Data\Form">
        <plugin name="setExtensionValues" type="CommunityEngineering\JapaneseName\Plugin\Framework\Data\ExtensionAttributesValues"/>
    </type>

    <type name="Magento\Customer\Model\Metadata\CustomerMetadata">
        <plugin name="kanaAttributesInjection" type="CommunityEngineering\JapaneseName\Plugin\Customer\Model\Metadata\KanaAttributesInjection"/>
    </type>
    <type name="Magento\Customer\Model\Metadata\AddressMetadata">
        <plugin name="kanaAttributesInjection" type="CommunityEngineering\JapaneseName\Plugin\Customer\Model\Metadata\KanaAttributesInjection"/>
    </type>
    <type name="Magento\Customer\Model\Delegation\Storage">
        <plugin name="kanaAttributesNormalization" type="CommunityEngineering\JapaneseName\Plugin\Customer\Model\Delegation\NewOperationNormalization"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="exportKana" type="CommunityEngineering\JapaneseName\Plugin\Quote\Model\Quote\ExportAddressKana"/>
    </type>
    <type name="Magento\Customer\Block\Address\Renderer\RendererInterface">
        <plugin name="exportKana" type="CommunityEngineering\JapaneseName\Plugin\Customer\Block\Address\KanaAttributesRenderer"/>
    </type>

    <virtualType name="CustomerNameKanaHandler" type="Magento\Framework\Indexer\Handler\ConcatHandler">
        <arguments>
            <argument name="concatExpression" xsi:type="object">CustomerNameKanaExpression</argument>
        </arguments>
    </virtualType>

    <virtualType name="CustomerNameKanaExpression" type="Magento\Framework\DB\Sql\ConcatExpression">
        <arguments>
            <argument name="tableName" xsi:type="string">e</argument>
            <argument name="columns" xsi:type="array">
                <item name="prefix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">prefix</item>
                </item>
                <item name="lastnamekana" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">lastnamekana</item>
                </item>
                <item name="firstnamekana" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">firstnamekana</item>
                </item>
                <item name="suffix" xsi:type="array">
                    <item name="tableAlias" xsi:type="string">e</item>
                    <item name="columnName" xsi:type="string">suffix</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>