<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteKanaFieldsLoader" />
    </event>
    <event name="sales_quote_save_before">
        <observer name="kana_fields_saver" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteKanaFieldsSaver" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="kana_fields_cleaning" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteKanaFieldsCleaning" />
    </event>

    <event name="sales_quote_address_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteAddressKanaFieldsLoader" />
    </event>
    <event name="sales_quote_address_collection_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteAddressKanaFieldsLoader" />
    </event>
    <event name="sales_quote_address_save_before">
        <observer name="kana_fields_saver" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteAddressKanaFieldsSaver" />
    </event>
    <event name="sales_quote_address_save_after">
        <observer name="kana_fields_cleaning" instance="CommunityEngineering\JapaneseName\Observer\Quote\QuoteAddressKanaFieldsCleaning" />
    </event>

    <event name="sales_order_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderKanaFieldsLoader" />
    </event>
    <event name="sales_order_collection_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderKanaFieldsLoader" />
    </event>
    <event name="sales_order_save_before">
        <observer name="kana_fields_saver" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderKanaFieldsSaver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="kana_fields_cleaning" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderKanaFieldsCleaning" />
    </event>

    <event name="sales_order_address_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderAddressKanaFieldsLoader" />
    </event>
    <event name="sales_order_address_collection_load_after">
        <observer name="kana_fields_loader" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderAddressKanaFieldsLoader" />
    </event>
    <event name="sales_order_address_save_before">
        <observer name="kana_fields_saver" instance="CommunityEngineering\JapaneseName\Observer\Sales\OrderAddressKanaFieldsSaver" />
    </event>
    <event name="sales_order_address_save_after">
        <observer name="kana_fields_cleaning" instance="\CommunityEngineering\JapaneseName\Observer\Sales\OrderAddressKanaFieldsCleaning" />
    </event>
</config>
