<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="localize" translate="label" sortOrder="999">
            <label>Japanese Localize</label>
        </tab>
        <section id="tax">
            <group id="calculation">
                <field id="round" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Tax Rounding Method</label>
                    <source_model>MagentoJapan\Price\Model\Config\Source\Round</source_model>
                </field>
            </group>
        </section>
        <section id="price" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Currency configuration</label>
            <tab>localize</tab>
            <resource>MagentoJapan_Localize::config_format</resource>
            <group id="symbol" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Currency configuration</label>
                <field id="position" translate="label" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Position</label>
                    <source_model>MagentoJapan\Price\Model\Config\Source\Position</source_model>
                    <config_path>price/symbol/position</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
