<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="kana_copy_fields_from_quote_to_order" instance="MagentoJapan\Kana\Observer\CopyKanaToOrder" />
    </event>
    <event name="core_copy_fieldset_order_address_to_customer">
        <observer name="kana_copy_fields_from_order_to_customer" instance="MagentoJapan\Kana\Observer\CopyKanaToCustomer" />
    </event>
    <event name="core_copy_fieldset_order_address_to_customer_address">
        <observer name="kana_copy_fields_from_order_to_customer_address" instance="MagentoJapan\Kana\Observer\CopyKanaToCustomerAddress" />
    </event>
</config>
