<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Directory\Model\Currency">
        <plugin name="modify_precision" type="CommunityEngineering\CurrencyPrecision\Plugin\Directory\Model\CurrencyPrecisionFormatting"/>
    </type>
<!--    <type name="Magento\Directory\Model\PriceCurrency">-->
<!--        <plugin name="modify_round" type="CommunityEngineering\CurrencyPrecision\Plugin\Directory\Model\CurrencyRounding"/>-->
<!--    </type>-->
    <type name="Magento\Framework\Locale\Format">
        <plugin name="locale_number_format" type="CommunityEngineering\CurrencyPrecision\Plugin\Locale\LocalizedFormat"/>
    </type>
    <type name="Magento\Tax\Pricing\Adjustment">
        <plugin name="modify_adjustment" type="CommunityEngineering\CurrencyPrecision\Plugin\Tax\Pricing\ModifyAdjustment"/>
    </type>
    <type name="Magento\Paypal\Model\Api\Nvp">
        <plugin name="modify_round" type="CommunityEngineering\CurrencyPrecision\Plugin\PayPal\Api\RoundAmount"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Action\Discount\DiscountInterface">
        <plugin name="round_discount"
                type="CommunityEngineering\CurrencyPrecision\Plugin\SalesRule\RoundDiscount"
                sortOrder="10"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="round_quote_item_price"
                type="CommunityEngineering\CurrencyPrecision\Plugin\Tax\RoundQuoteItemPrice"
                sortOrder="10"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Subtotal">
        <plugin name="round_subtotal"
                type="CommunityEngineering\CurrencyPrecision\Plugin\Tax\RoundSubtotal"
                sortOrder="10"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin name="round_tax"
                type="CommunityEngineering\CurrencyPrecision\Plugin\Tax\RoundTaxAmount"
                sortOrder="10"/>
    </type>
</config>
