<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <country>
                <default>JP</default>
            </country>
        </general>
        <customer>
            <create_account>
                <request_address>1</request_address>
            </create_account>
            <address>
                <country_show>0</country_show>
            </address>
            <address_templates>
                <text><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend lastnamekana}} ({{var lastnamekana}} {{var firstnamekana}}){{/depend}}
{{depend postcode}}〒{{var postcode}}{{/depend}}
{{depend region}}{{var region}}{{/depend}}{{depend city}}{{var city}}{{/depend}}{{depend street1}}{{var street1}} {{/depend}}{{depend street2}}{{var street2}}{{/depend}}{{depend street3}}{{var street3}}{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}F: {{var fax}}{{/depend}}
]]></text>
                <oneline><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend lastnamekana}} ({{var lastnamekana}} {{var firstnamekana}}){{/depend}} {{depend postcode}}〒{{var postcode}} {{/depend}}{{depend region}}{{var region}}{{/depend}}{{var city}}{{depend city}}{{/depend}}{{depend street1}}{{var street1}} {{/depend}}{{depend street2}}{{var street2}}{{/depend}}{{depend street3}}{{var street3}}{{/depend}}]]></oneline>
                <html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend lastnamekana}} ({{var lastnamekana}} {{var firstnamekana}}){{/depend}}<br/>
{{depend postcode}}〒{{var postcode}}{{/depend}}<br />
{{depend region}}{{var region}}{{/depend}}{{depend city}}{{var city}}{{/depend}}{{depend street1}}{{var street1}} {{/depend}}{{depend street2}}{{var street2}}{{/depend}}{{depend street3}}{{var street3}}{{/depend}}<br />
{{depend telephone}}<br />T: {{var telephone}}{{/depend}}
{{depend fax}}<br />F: {{var fax}}{{/depend}}<br />]]></html>
                <pdf><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}{{depend lastnamekana}} ({{var lastnamekana}} {{var firstnamekana}}){{/depend}}|
{{depend postcode}}〒{{var postcode}}{{/depend}}|
{{depend region}}{{var region}}{{/depend}}{{depend city}}{{var city}}{{/depend}}{{depend street1}}{{var street1}}{{/depend}}{{depend street2}}{{var street2}} {{/depend}}{{depend street3}}{{var street3}}{{/depend}}|
{{depend telephone}}|T: {{var telephone}}{{/depend}}
{{depend fax}}|F: {{var fax}}{{/depend}}|]]></pdf>
            </address_templates>
        </customer>
    </default>
</config>
